header {
	text-align: center;
	font-family: 'Mandatory Plaything', sans-serif;
	font-size: 40px;
	color: white;
	fallback: sans-serif;
}

h2 {
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	font-size: 30px;
	color: white;
	fallback: sans-serif;
}

ol {
	font-family: 'Century Gothic', sans-serif;
	list-style-position: inside;
	font-size: 20px;
	color: white;
	fallback: sans-serif;
}

body {
	background-color: rgb(26, 26, 26);
	margin:20px; 
	padding: 10px; 
}

p {
	text-align: center;
	font-family: 'Century Gothic', serif;
	color: white;
	font-size: 15px;
	fallback: sans-serif;
}

a:link {
	font-family: 'Century Gothic', sans-serif;
	font-size: 30px;
	color: white;
	background-color: transparent;
	fallback: sans-serif;
}

a:visited {
	font-family: 'Century Gothic', sans-serif;
	font-size: 30px;
	color: slategray;
	background-color: transparent;
	fallback: sans-serif;
}

a:hover {
	font-family: 'Century Gothic', sans-serif;
	font-size: 30px;
	color: white;
	background-color: transparent;
	fallback: sans-serif;
}

a:active {
	font-family: 'Century Gothic', sans-serif;
	font-size: 30px;
	color: white;
	background-color: transparent;
	fallback: sans-serif;
}

footer {
	text-align: center;
	margin-top:150px
}

.center {
	text-align: center;
	color: white;
}

.button {
	box-shadow: 0 0 40px 40px #1a1a1a inset, 0 0 0 0 #1a1a1a;
	font-family: 'Mandatory Plaything', sans-serif;
	font-size: 28px;
	color: white;
	margin: 20px;
	padding: 25px;
	display: inline;
	transition: all 150ms ease-in-out;
	fallback: sans-serif;
}
.button:hover {
	box-shadow: 0 0 5px 10px #3b3b3b inset, 0 0 10px 8px #3b3b3b;
	color: #1a1a1a;
}

img:not(.logo) {
	opacity: 35%;
	transition: opacity 0.8s
}

img:hover:not(.logo) {
	opacity: 100%;
	transition: opacity 0.5s
}

.logo {
	width: 40%;
}

.pad {
	padding-left: 15px; 
}

.pad2 {
	padding-left: 80px;
    padding-right: 60px;
}